


<!-- Main -->
<div id="main">



	<!-- Intro -->
	<section id="intro"><!-- 
		<a href="/" class="logo"><img src="images/logo.jpg" alt="" /></a> -->
		<header>
			<h2>Blondiebits</h2>
			<p>A series of written and filmed tutorials for new technologies that have confusing documentation</p>
		</header>
	</section>

	<!-- Post #/{{$index}}-->
	<div ng-repeat="p in posts|limitTo:1">
		<mainpost p="p" i="$index"></mainpost>

	</div>
	
	<!-- Notes -->

							<!-- Sidebar -->
							<!-- <section id="sidebar"> -->

								<!-- Mini Posts -->
								<section>
									<!-- <div class="mini-posts"> -->

										<!-- Mini Post -->
<!-- 										<article class="mini-post">
											<header>
												<h3><a href="#">Vitae sed condimentum</a></h3>
												<time class="published" datetime="2015-10-20">October 20, 2015</time>
												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="images/pic04.jpg" alt="" /></a>
										</article> -->

										<!-- Mini Post -->
<!-- 										<article class="mini-post">
											<header>
												<h3><a href="#">Rutrum neque accumsan</a></h3>
												<time class="published" datetime="2015-10-19">October 19, 2015</time>
												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="images/pic05.jpg" alt="" /></a>
										</article> -->

										<!-- Mini Post -->
<!-- 										<article class="mini-post">
											<header>
												<h3><a href="#">Odio congue mattis</a></h3>
												<time class="published" datetime="2015-10-18">October 18, 2015</time>
												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="images/pic06.jpg" alt="" /></a>
										</article> -->

										<!-- Mini Post -->
<!-- 										<article class="mini-post">
											<header>
												<h3><a href="#">Enim nisl veroeros</a></h3>
												<time class="published" datetime="2015-10-17">October 17, 2015</time>
												<a href="#" class="author"><img src="images/avatar.jpg" alt="" /></a>
											</header>
											<a href="#" class="image"><img src="images/pic07.jpg" alt="" /></a>
										</article> -->

									<!-- </div> -->
								</section>
								<!-- About -->
<!-- 								<section class="blurb">
									<h2>About me</h2>
									<p>Computer science major.<br>Film minor. <br>Vassar College '17. <br>Vanilla Lattes<br>Tap Dancing</p>
									<ul class="actions">
										<li><a href="https://blondiebytes.github.io/" class="button">Learn More</a></li>
									</ul>
								</section> -->

								<!-- Footer -->
							<section id="footer">
							<ul class="icons">
 										<li><a href="https://www.instagram.com/blondiebytes/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
 										<li><a href="https://twitter.com/blondiebytes" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
											<li><a href="mailto:blondiebytes@gmail.com?subject=Hello blondiebits!" class="icon fa-envelope"><span class="label">Email</span></a></li>
 											<li><a href="http://bit.ly/1NbxNzV" class="icon fa-youtube"><span class="label">YouTube</span></a></li>
 											<li><a href="https://www.linkedin.com/in/blondiebytes" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
 										<li><a href="https://github.com/blondiebytes" class="icon fa-github"><span class="label">GitHub</span></a></li> <li><a href="https://www.pinterest.com/blondiebytes" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li></ul>
								<p class="copyright">&copy; Kathryn Hodge 2016.</p>
							</section>
